body {
  background-image: url("../images/planet2_sm2.png");
}

#ship-container {
  height: 110px;
  width: 75px;
  position: relative;
  top: 130px;
  left: 30px;
}

#ship {
  height: 73px;
  width: 68px;
}

#rocket {
  height: 70px;
  width: 63px;
}

#flame {
  height: 30px;
  width: 25px;
  position: relative;
  left: 20px;
  top: -5px;
  visibility: hidden;
}

#explosion {
  height: 80px;
}

.commDiv {
  position: fixed;
  bottom: 158px;
  height: 170px;
  width: 100vw;
}

#comm-panel {
  height: 100%;
  width: 100%;
}

#instructions {
  height: 110px;
  width: 87%;
  font-family: 'Bungee Hairline', Arial, cursive;
  font-size: 16px;
  color: #1add27;
  font-weight: bold;
  word-spacing: 4px;
  position: absolute;
  bottom: 42px;
  left: 25px;
}

#controls {
  position: fixed;
  bottom: 23px;
  width: 100vw;
  background-color: #4f4f4f;
}

#scan-container {
  height: 125px;
  width: 77vw;
  border: 5px solid #4f4f4f;
  display: inline-block;
  float: left;
}

#scanner {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  }

.fuel-container {
  border: 5px solid #4f4f4f;
  float: left;
}

#empty {
  font-family: 'Jomhuria', Arial, cursive;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  height: 25px;
  border: 5px solid #4f4f4f;
}

.gauge {
  height: 39px;
  border: 5px solid #4f4f4f;
}

.fuelDiv {
  height: 100%;
  width: 17vw;
  display: inline-block;
  padding-left: 3px;
}

.fuelImg {
  border-radius: 6px;
  width: 17vw;
}

.fuelStatus {
  font-family: 'Jomhuria', Arial, cursive;
  font-size: 20px;
  color: #cca716;
  text-align: center;
  position: relative;
  bottom: 40px;
}

p {
  font-family: 'Jomhuria', Arial, cursive;
  font-size: 30px;
  margin-top: -5px;
  color: #cc4015;
}

#crystalContainer {
  width: 63vw;
  position: relative;
  bottom: 62px;
  left: 13vw;
}

.crystal {
  margin-left: 1.5vw;
  display: inline-block;
  width: 13vw;
  border-radius: 4px;
}

#bottom-bar {
  width: 100vw;
  height: 25px;
  background-color: #4f4f4f;
  position: fixed;
  bottom: 0;
}

#win-loss {
  height:18px;
  width: 98vw;
  background-color: #3786ff;
  border-radius: 9px;
  position: relative;
  top: 3px;
  left: 1vw;
}

#win {
  height: 18px;
  position: relative;
  left: 20px;
  display: inline-block;
}

#win-count {
  height: 18px;
  display: inline-block;
}

#loss {
  height: 18px;
  position: absolute;
  left: 175px;
  display: inline-block;
}

#loss-count {
  height: 18px;
  display: inline-block;
}

.text {
  font-family: 'Bungee Hairline', Arial, cursive;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

@media screen and (max-height:625px) { /* xs screen size */
  #instructions {
    height: 110px;
    width: 87%;
    font-family: 'Bungee Hairline', Arial, cursive;
    font-size: 16px;
    color: #1add27;
    font-weight: bold;
    word-spacing: 4px;
    position: absolute;
    bottom: 53px;
    left: 25px;
  }

  #empty {
    font-family: 'Jomhuria', Arial, cursive;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    height: 26px;
    border: 5px solid #4f4f4f;
  }

  .fuelStatus {
    font-family: 'Jomhuria', Arial, cursive;
    font-size: 18px;
    color: #cca716;
    text-align: center;
    position: relative;
    bottom: 36px;
  }
}

@media screen and (min-width:571px) {   /* md screen size */
  body {
    background-image: url("../images/planet2_md2.png");
  }

  #ship-container {
    height: 110px;
    width: 75px;
    position: relative;
    top: 295px;
    left: 55px;
  }

  .commDiv {
    position: fixed;
    bottom: 306px;
    height: 180px;
    width: 100vw;
  }

  #comm-panel {
    height: 100%;
    width: 100%;
  }

  #instructions {
    height: 110px;
    width: 87%;
    font-family: 'Bungee Hairline', Arial, cursive;
    font-size: 24px;
    color: #1add27;
    font-weight: bold;
    word-spacing: 4px;
    position: absolute;
    bottom: 53px;
    left: 45px;
  }

  #controls {
    position: fixed;
    bottom: 40px;
    width: 100vw;
    background-color: #4f4f4f;
  }

  #scan-container {
    height: 255px;
    width: 77vw;
    border: 5px solid #4f4f4f;
    display: inline-block;
    padding-left: .7vw;
    float: left;
  }

  #crystalContainer {
    width: 63vw;
    position: relative;
    bottom: 112px;
    left: 14.5vw;
  }

  .crystal {
    margin-left: 1.5vw;
    display: inline-block;
    width: 13vw;
    max-height: 100px;    /* ----------- */
    border-radius: 4px;
  }


  #empty {
    font-family: 'Jomhuria', Arial, cursive;
    font-size: 42px;
    line-height: 36px;
    text-align: center;
    height: 66px;
    border: 5px solid #4f4f4f;
  }

  .gauge {
    height: 85px;
    border: 5px solid #4f4f4f;
  }

  .fuelDiv {
    height: 100%;
    width: 17vw;
    display: inline-block;
    padding-left: 2vw;
  }

  .fuelStatus {
    font-family: 'Jomhuria', Arial, cursive;
    font-size: 38px;
    color: #cca716;
    text-align: center;
    position: relative;
    bottom: 85px;
  }

  p {
    font-family: 'Jomhuria', Arial, cursive;
    font-size: 65px;
    margin-top: -10px;
    color: #cc4015;
  }

  #bottom-bar {
    width: 100vw;
    height: 40px;
    background-color: #4f4f4f;
    position: fixed;
    bottom: 0;
  }

  #win-loss {
    height:30px;
    width: 98vw;
    background-color: #3786ff;
    border-radius: 15px;
    position: relative;
    top: 5px;
    left: 1vw;
  }

  #win {
    height: 30px;
    position: relative;
    left: 20px;
    display: inline-block;
  }

  #win-count {
    height: 30px;
    display: inline-block;
  }

  #loss {
    height: 30px;
    position: absolute;
    left: 175px;
    display: inline-block;
  }

  #loss-count {
    height: 30px;
    display: inline-block;
  }

  .text {
    font-family: 'Bungee Hairline', Arial, cursive;
    font-size: 30px;
    color: white;
    font-weight: bold;
  }
}

@media screen and (min-width:896px) {   /* lg screen size */
  body {
    background-image: url("../images/planet2_lg2.png");
  }

  #ship-container {
    height: 110px;
    width: 75px;
    position: relative;
    top: 345px;
    left: 200px;
  }

  .commDiv {
    position: fixed;
    top: 15px;     /*---------*/
    right: 15px;    /*---------*/
    height: 220px;   /*---------*/
    width: 470px;   /*---------*/
    border: 4px solid #29511a;
    border-radius: 10px;
    background-color: #4c6d40;
    opacity: .7;
  }

  #comm-panel {
    height: 100%;
    width: 100%;
  }

  #instructions {
    height: 110px;
    width: 87%;
    font-family: 'Bungee Hairline', Arial, cursive;
    font-size: 24px;
    /*color: #2a9600;*/
    color: #1add27;
    font-weight: bold;
    word-spacing: 4px;
    position: absolute;
    bottom: 93px;
    left: 25px;
  }

  #controls {
    position: fixed;
    bottom: 40px;
    width: 100vw;
    background-color: #4f4f4f;
  }

  #scan-container {
    height: 210px; /* ----------- */
    width: 77vw;
    border: 5px solid #4f4f4f;
    display: inline-block;
    padding-left: 2vw;    /* ----------- */
    float: left;
  }

  #crystalContainer {
    height: 80px;
    width: 63vw;
    position: relative;
    bottom: 90px;     /* ----------- */
    left: 22vw;       /* ----------- */
  }

  .crystal {
    margin-left: 2.5vw;   /* ----------- */
    display: inline-block;
    width: 8vw;     /* ----------- */
    max-height: 80px;    /* ----------- */
    border-radius: 4px;
  }

  #empty {
    font-family: 'Jomhuria', Arial, cursive;
    font-size: 49px;
    line-height: 26px;
    text-align: center;
    height: 40px;    /* ----------- */
    /*width: 100px;*/
    border: 5px solid #4f4f4f;
  }

.emptyDiv {     /* ----------- */
  display: inline-block;
  width: 13vw;
}

  .gauge {
    height: 75px;   /* ----------- */
    border: 5px solid #4f4f4f;
  }

  .fuelDiv {
    height: 80px;    /* ----------- */
    display: inline-block;
    padding-left: 4.3vw;     /* ----------- */
    width: 13vw;
  }

  .fuelImg {
    border-radius: 6px;
    height: 75px;     /* ----------- */
    width: 13vw;   /* ----------- */
  }

  .fuelStatus {
    font-family: 'Jomhuria', Arial, cursive;
    font-size: 38px;     /* ----------- */
    color: #cca716;
    text-align: center;
    position: relative;
    bottom: 75px;       /* ----------- */
  }

  p {
    font-family: 'Jomhuria', Arial, cursive;
    font-size: 65px;
    margin-top: -15px;         /* ----------- */
    color: #cc4015;
  }

  #bottom-bar {
    width: 100vw;
    height: 40px;
    background-color: #4f4f4f;
    position: fixed;
    bottom: 0;
  }

  #win-loss {
    height:30px;
    width: 98vw;
    background-color: #3786ff;
    border-radius: 15px;
    position: relative;
    top: 5px;
    left: 1vw;
  }

  #win {
    height: 30px;
    position: relative;
    left: 20px;
    display: inline-block;
  }

  #win-count {
    height: 30px;
    display: inline-block;
  }

  #loss {
    height: 30px;
    position: absolute;
    left: 175px;
    display: inline-block;
  }

  #loss-count {
    height: 30px;
    display: inline-block;
  }

  .text {
    font-family: 'Bungee Hairline', Arial, cursive;
    font-size: 30px;
    color: white;
    font-weight: bold;
  }
}
