/*font-family: 'Bungee Hairline', cursive;
font-family: 'Bungee', cursive;*/
body {
  background-image: url("../images/planet2_sm.png");
}

#ship-container {
  height: 110px;
  width: 75px;
  position: relative;
  top: 160px;
  left: 30px;
}

#ship {
  height: 73px;
  width: 68px;
}

#rocket {
  height: 70px;
  width: 63px;
}

#flame {
  height: 30px;
  width: 25px;
  position: relative;
  left: 20px;
  top: -5px;
  visibility: hidden;
}

#explosion {
  height: 80px;
}

#controls {
  position: fixed;
  bottom: 36px;
  width: 100vw;
  background-color: #4f4f4f;
}

#scan-container {
  height: 156px;
  width: 73vw;
  border: 5px solid #4f4f4f;
  display: inline-block;
  float: left;
}

#scanner {
  height: 100%;
  width: 100%;
  }

.fuel-container {
  background-color: #4f4f4f;
  width: 20vw;
  border: 5px solid #4f4f4f;
  float: left;
}

.gauge {
height: 42px;
border: 5px solid #4f4f4f;
}

.fuel {
  height: 100%;
  width: 100%;
}

#bottom-bar {
  width: 100vw;
  height: 36px;
  background-color: #4f4f4f;
  position: fixed;
  bottom: 0;
}

#win-loss {
  height: 30px;
  width: 98vw;
  max-width: 400px;
  background-color: #3786ff;
  border-radius: 15px;
  position: relative;
  top: 3px;
  left: 3px;
}

#win {
  height: 20px;
  position: relative;
  top: 5px;
  left: 20px;
  display: inline-block;
}

#win-count {
  height: 20px;
  display: inline-block;
}

#loss {
  height: 20px;
  position: absolute;
  top: 5px;
  left: 175px;
  display: inline-block;
}

#loss-count {
  height: 20px;
  display: inline-block;
}

.text {
  font-family: 'Bungee Hairline', cursive;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
